
.idea/workspace.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/Project.xml
ML/Code/.DS_Store
Case Study/dataFiles/.DS_Store
Case Study/.DS_Store
Case Study/dataFiles/csv/.DS_Store
Case Study/dataFiles/model/.DS_Store
ML/busy19/.DS_Store
ML/.DS_Store
TXT/jupyter notebooks/.DS_Store
